<!-- fixed menubar -->
<div class="container-fluid h-100">
  
  <!-- h-100 takes the full height 
           of the container-->
  <div class="row h-100">
      <div class="sidebar col-2" id="green">
          <!-- Navigation links in sidebar-->
          <div class="img-container">  
            <img src="https://www.ib-bauabrechnung.de/img/home/logo-ingenieurbu%CC%88ro-schmidt.jpg">
          </div>
          <div class="navbtn" routerLink="user" Button>
            <a href="#" routerLink="user" Button><i class="fas fa-home" id="icon"></i> Home</a>
          </div>
          <div class="navbtn" routerLink="project" Button>  
            <a href="#" routerLink="project" Button><i class="fas fa-project-diagram" id="icon"></i> Projects</a>
          </div>
          <div class="navbtn">
            <a href="#"><i class="fas fa-calendar-check" id="icon"></i> Workdays</a>
          </div>
      </div>
      <div class="col-10" style="padding: 0;">

          <!-- Top navbar -->
          <nav class="navbar navbar-expand-lg 
                          navbar-light bg-primary">
              <!-- Hamburger button that toggles the navbar-->
              <button class="navbar-toggler" 
                  type="button" data-toggle="collapse"
                  data-target="#navbarNavAltMarkup" 
                  aria-controls="navbarNavAltMarkup" 
                  aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <!-- navbar links -->
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a href="#" class="nav-item nav-link" style="margin-left: auto; margin-right: auto;margin-top: 12px;"><i class="fa fa-envelope"></i></a>		
                    <a href="#" class="nav-item nav-link" style="margin-left: auto; margin-right: auto;margin-top: 12px;"><i class="fa fa-bell"></i></a>
                    <div ngbDropdown class="d-inline-block nav-item" style="margin-left: auto;margin-top: 12px;">
                      <!-- clock in time in and out -->
                      <a href="#" class="nav-item nav-link" style="margin-left: auto; margin-right: auto;"ngbDropdownToggle><i class="fa fa-clock-o"></i></a>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="background-color: rgba(216,216,216,.6) !important;">
                        <div class="timeContainer">
                          <h1>{{time | async}}</h1>
                        </div>
                        <div class="timeContainer2">
                          <button style="width: 125px;margin-bottom: 8px; padding: 5px;" class="btn btn-primary doubleheight hidden" (click)='startTimer(0.0)'><i class="fa fa-play fa-fw"></i> Start</button>
                          <button style="width: 125px;margin-bottom: 8px; padding: 5px;" class="btn btn-success doubleheight hidden" (click)='pauseTimer()'><i class="fa fa-pause fa-fw"></i> Pause</button>
                        </div>
                      </div>
                    </div>


                    <div ngbDropdown class="d-inline-block nav-item" style="margin-left: auto;">
                      <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action" aria-expanded="false"><img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/female1-512.png" class="avatar" alt="Avatar"> 
                        Azenith Duane Eduave <b class="caret"></b></a>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem ><a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a></button>
                        <button ngbDropdownItem ><a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a></button>
                        <button ngbDropdownItem ><a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a></button>
                        <div class="divider dropdown-divider"></div>
                        <button ngbDropdownItem ><a href="#" class="dropdown-item"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></button>
                      </div>
                    </div> 
                    
                </div>
              </div>
          </nav>

          <!-- Contains the main content of the webpage-->
          <router-outlet></router-outlet>
      
      </div>
  </div>
</div>


